<IfModule mod_rewrite.c>
    RewriteEngine On

    # Protect sensitive files and folders
    RewriteRule ^(vendor|storage|app|bootstrap|config|database|resources|routes|tests|\.env|artisan) - [F,L,NC]

    # Redirect all requests to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
